*{
  margin: 0;
  padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navber section style */
#navber-head{
     width: 1600;
    height: 92px;
    padding: 16px 120px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    

}
.navber{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;

    
    
}
.navber img{
    margin: 16px 24px 16px 120px;
    width: 139px;
    height: 60px;
}
.nav-info{
    display: flex;
    list-style: none;
    gap: 32px;
    width: 365px;
    height: 24px;
    flex-direction: row;
    margin: 16px 24px;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    opacity: 90%;
  
    
}
    
.navber a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
}
.btn-1{
    width: 164px;
    height: 44px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    margin: 16px 120px 16px 24px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    opacity: 100%;

}
/* banner section */
.hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    max-width: 1600px;
    
}
.hero-container{
    align-items: center;
    text-align: center;
    padding: 200px;
}
.hero-container h1{
    color: #FFFFFF;
    margin: 5px;
    
}
.special-btn{
    padding: 5px;
    border-radius: 30px;
    color: #30B868;
}
.hero-container .uniqe{
    color: #30B868;
}
.hero-container p{
  color: #FFFFFF;
  line-height: 24px;
  font-size: 18px;
}
.btn-title{
   margin-top: 32px;
}
.btn-title .btn{
    width: 251px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-weight: ;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    opacity: 100%;
}
.second-btn{
    width: 198px;
    height: 52px;
    padding: 12px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    opacity: 100%;
    color: #ffffff;
    margin-left: 10px;
    opacity: 100%;
}
.btn-title .second-btn img{
    margin-right: 10px;
    align-items: center;
}
.btn-title .btn img{
    margin-left: 10px;
}
/* card section */

.card-section{
    text-align: center;
     gap: 44px;
     padding: 120px;
  
    
}
.card-section h2{
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      margin-bottom: 16px;
}
.card-section p{
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 16px;

}
.card-container{
    display: flex;
     gap: 24px;
    width: 1360px;
    height: 300px;

    
 
}
.card{
    margin-top: 44px;
    width: 300px;
   display: flex;
   flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 280px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.304);
    
    
} 
 .card p{
    font-size: 16px;
    line-height: 20px;
    color: 627382;
    opacity: 100%;
    margin: 0px 24px 0 24px;
 }
.card h3{
    font-size: 24px;
    font-weight: 600;
    width: 274px;
    height: 58px;
    color: #001931;
    margin-bottom: 10px;
    line-height: 29px;
}
/* brain section  */
.brain-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60;
    margin: 120px;
}
.brain-text{
    border-radius: 12px;
}
.brain-text{
    margin: 120px 0px 120px 60px;

}
#uncommon-text{
    width: 700px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #469165;

}
.brain-text h2{
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #001931;
    opacity: 100%;
}
.brain-text p{
    width: 700px;
    height: 60px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.brain-text h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 10px;
}
.Early-section{
    width: 1360px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    background-color: #F7F6F2;
    margin: 2px 120px 120px 120px;
    padding: 130px 40px 80px 40px;
}
.Early-section h2{
    width: 1280px;
    height: 48px;
    text-align: center;
    font-weight: 700;
    line-height: 48px;
    font-size: 40px;
    margin-bottom: 18px;
    text-transform: capitalize;
}
.Early-section p{
    width: 1280px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    color: #627382;
    margin-bottom: 22px;

}
.btn-last{
    width: 164px;
    height: 44px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    opacity: 100%;
    margin-bottom: 15px;
}


