*{
  margin: 0;
  padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navber section style */
#navber-head{
     width: 1600;
    height: 92px;
    padding: 16px 120px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    

}
.navber{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;

    
    
}
.navber img{
    margin: 16px 24px 16px 120px;
    width: 139px;
    height: 60px;
}
.nav-info{
    display: flex;
    list-style: none;
    gap: 32px;
    width: 365px;
    height: 24px;
    flex-direction: row;
    margin: 16px 24px;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    opacity: 90%;
  
    
}
    
.navber a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
}
.btn{
    width: 164px;
    height: 44px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    margin: 16px 120px 16px 24px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    opacity: 100%;

}
/* banner section */
.hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    max-width: 1600px;
    
}
.hero-container{
    align-items: center;
    text-align: center;
    padding: 200px;
}
.hero-container h1{
    color: #FFFFFF;
    margin: 5px;
    
}
.special-btn{
    padding: 5px;
    border-radius: 30px;
    color: #30B868;
}
.hero-container .uniqe{
    color: #30B868;
}
.hero-container p{
  color: #FFFFFF;
  line-height: 24px;
  font-size: 18px;
}
.btn-title{
    gap: 5px;
}
.btn-title .btn{
    width: 251px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    margin: 16px 120px 16px 24px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    opacity: 100%;
}
.second-btn{
    width: 198px;
    height: 52px;
    padding: 16px 12px;
    border-radius: 4px;
    opacity: 100%;

}